#filter-drawer-header {
  display: flex;
  flex-direction: row;
}

.filter-drawer-header-open {
  justify-content: flex-end;
}

.filter-drawer-header-closed {
  justify-content: center;
}

#toggle-drawer-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
