.name-list-actions {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: 100%;
  margin-top: 96px;
}

.name-list-actions-tooltip-target {
  display: inline-flex;
}

@media (max-width: 599px) {
  .name-list-actions {
    margin-top: 56px;
  }
}
