.workspace-filter-toggle {
  box-sizing: border-box;
  min-height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid var(--color-primary-contrast);
  padding: 4px 12px;
}

.workspace-filter-toggle-label,
.workspace-filter-toggle-label.MuiTypography-root {
  color: var(--color-primary-contrast);
  font-weight: 400;
  font-size: 18px;
}

.workspace-filter-toggle-button.MuiIconButton-root {
  color: var(--color-primary-contrast);
}

.workspace-filter-toggle-button .workspace-filter-toggle-icon--open {
  transform: rotate(180deg);
}
