.workspace-filter-toggle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  white-space: nowrap;
}

.workspace-filter-toggle-filter-icon {
  color: var(--color-primary-contrast);
}

.workspace-filter-toggle-label,
.workspace-filter-toggle-label.MuiTypography-root {
  color: var(--color-primary-contrast);
  font-weight: 400;
  font-size: 0.875rem;
}
