.primary-button-skeleton.MuiSkeleton-root {
  width: 220px;
  height: 76px;
  border-radius: var(--radius-20);
  background: var(--color-primary-highlight);
}

.primary-button-skeleton.MuiSkeleton-root[data-size='wide'] {
  width: 320px;
}

.primary-button-skeleton.MuiSkeleton-root[data-size='compact'] {
  width: 128px;
  height: 36px;
  border-radius: var(--radius-12);
}

.primary-button-skeleton.MuiSkeleton-root[data-size='compact-wide'] {
  width: 180px;
  height: 36px;
  border-radius: var(--radius-12);
}
