#logo-home-link {
  display: flex;
  text-decoration: none;
}

#logo-full {
  width: 148px;
  height: 26px;
  width: auto;
  color: var(--color-primary);
}

@media (max-width: 599px) {
  #logo-full {
    color: var(--color-primary-contrast);
  }
}
