.tutorial-tooltip.MuiTooltip-tooltip {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  border: 2px solid var(--color-primary-contrast);
  border-radius: 16px;
  box-shadow: var(--box-shadow-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  padding: 8px 14px 6px;
}

.tutorial-tooltip-arrow.MuiTooltip-arrow {
  color: var(--color-primary);
}
