#name-list-container {
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 96px;
}

#name-list-header {
  width: 100%;
  margin-bottom: 56px;
}

#name-list-header .mobile-section-header {
  display: none;
}

@media (max-width: 599px) {
  #name-list-container {
    min-height: calc(100vh - 96px);
    padding: 15px 32px 120px;
  }

  #name-list-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 36px;
  }

  #name-list-header .section-header {
    display: none;
  }

  #name-list-header .mobile-section-header {
    display: block;
  }
}
