#desktop-top-bar {
  height: 64px;
  background: var(--color-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
}

#desktop-top-bar-account {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

@media (--mobile) {
  #desktop-top-bar {
    display: none;
  }
}
