.filter-region-accordion.MuiAccordion-root {
  margin: 0;
  box-shadow: none;
  background: var(--color-background);
}

.filter-region-accordion.MuiAccordion-root::before {
  display: none;
}

.filter-region-accordion.MuiAccordion-root.Mui-expanded {
  margin: 0;
}

.filter-region-accordion-summary.MuiAccordionSummary-root {
  min-height: 48px;
  padding: 0 16px;
}

.filter-region-accordion-summary.MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px;
}

.filter-region-accordion-summary .MuiAccordionSummary-content {
  margin: 0;
}

.filter-region-accordion-summary .MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}

.filter-region-accordion-summary .MuiAccordionSummary-expandIconWrapper {
  color: var(--color-text-secondary);
}

.filter-region-accordion-details.MuiAccordionDetails-root {
  padding: 0 0 8px;
}

.filter-region-accordion .MuiList-root {
  padding: 0;
}
