.filter-list-item.MuiListItemButton-root {
  width: 100%;
  min-height: 48px;
  padding: 6px 30px;
}

.filter-list-item.MuiListItemButton-root:hover {
  background: var(--color-primary-highlight);
}

.filter-list-item.MuiListItemButton-root.Mui-focusVisible {
  background: var(--color-primary-highlight);
}

.filter-list-item.MuiListItemButton-root:active {
  background: var(--color-primary-highlight);
}

.filter-list-item--utility.MuiListItemButton-root {
  background: var(--color-primary-highlight);
}

.filter-list-item--utility.MuiListItemButton-root:hover,
.filter-list-item--utility.MuiListItemButton-root.Mui-focusVisible,
.filter-list-item--utility.MuiListItemButton-root:active {
  background: var(--color-primary-edge);
}

.filter-list-item-checkbox {
  color: var(--color-text-primary);
}

.filter-list-item-checkbox--checked {
  color: var(--color-primary);
}
